In [6]:
from pathlib import Path

data_dir = Path.cwd() / "data" / "uncompressed"

mimiic_dir = data_dir / "mimiciv" / "3.1"
eicu_dir = data_dir / "eicu-crd" / "2.0"

In [2]:
from dask.distributed import Client

client = Client()
client

In [4]:
import dask.dataframe as dd

inputevents_df = dd.read_csv(mimiic_dir / "icu" / "inputevents.csv", assume_missing=True)
itemids_df = dd.read_csv(mimiic_dir / "icu" / "d_items.csv", assume_missing=True)

mimic_df = inputevents_df.merge(itemids_df, on=["itemid"], how="left")
mimic_df.head()

   subject_id     hadm_id  ...  lownormalvalue  highnormalvalue
0  10000032.0  29079034.0  ...             NaN              NaN
1  10000032.0  29079034.0  ...             NaN              NaN
2  10000032.0  29079034.0  ...             NaN              NaN
3  10000032.0  29079034.0  ...             NaN              NaN
4  10000032.0  29079034.0  ...             NaN              NaN

[5 rows x 34 columns]

In [10]:
chartevents_df = dd.read_csv(mimiic_dir / "icu" / "chartevents.csv", assume_missing=True)
mimic_df = chartevents_df.merge(itemids_df, on=["itemid"], how="left")
mimic_df.head()

   subject_id     hadm_id  ...  lownormalvalue  highnormalvalue
0  10000032.0  29079034.0  ...             NaN              NaN
1  10000032.0  29079034.0  ...             NaN              NaN
2  10000032.0  29079034.0  ...             NaN              NaN
3  10000032.0  29079034.0  ...             NaN              NaN
4  10000032.0  29079034.0  ...             NaN              NaN

[5 rows x 19 columns]

In [9]:
icu_stays_df = dd.read_csv(mimiic_dir / "icu" / "icustays.csv", assume_missing=True)
icu_stays_df.head()

   subject_id     hadm_id  ...              outtime       los
0  10000032.0  29079034.0  ...  2180-07-23 23:50:47  0.410266
1  10000690.0  25860671.0  ...  2150-11-06 17:03:17  3.893252
2  10000980.0  26913865.0  ...  2189-06-27 20:38:27  0.497535
3  10001217.0  24597018.0  ...  2157-11-21 22:08:00  1.118032
4  10001217.0  27703517.0  ...  2157-12-20 14:27:41  0.948113

[5 rows x 8 columns]

In [7]:
medication_df = dd.read_csv(eicu_dir / "medication.csv", assume_missing=True)
medication_df.head()

   medicationid  patientunitstayid  drugorderoffset  ...  prn drugstopoffset  gtc
0     7426715.0           141168.0            309.0  ...   No         1826.0  0.0
1     9643232.0           141168.0           1847.0  ...  Yes         2047.0  0.0
2    10270090.0           141168.0            296.0  ...   No         2390.0  0.0
3     9496768.0           141168.0           2048.0  ...  Yes         2390.0  0.0
4    11259680.0           141168.0            117.0  ...   No         1721.0  0.0

[5 rows x 15 columns]